In [1]:
import pandas as pd
import nltk
import re
from bs4 import BeautifulSoup

In [2]:
a = pd.read_excel("喜.xlsx")

In [3]:
a = a.drop(["Unnamed: 0"], axis=1)

In [4]:
a.head()

                                text  label
0                  笑到翻掉  火災真的來了我會先笑死      1
1               看到他滿足的表情，就知道這一切都值得👍🏻      1
2                   真的超有才，這個和無人機我快笑攤      1
3  火災真的來的話...比起嗆死或被燒死.... 我應該會先笑死www      1
4                 真的是充滿喜歡浪費才能的人才呢www      1

In [5]:
b = pd.read_excel('怒.xlsx')

In [6]:
b.head()

             text  label
0           真的是廢物      2
1            可悲政府      2
2            垃圾遊戲      2
3        這部電影有夠無聊      2
4  我為什麼要熬夜看這場白癡比賽      2

In [7]:
c = pd.read_excel("哀.xlsx")

In [8]:
c.head()

                                        text  label
0                             就結束了。。。。 R.I.P      3
1                              這種難過 他一定也很懊悔。      3
2  這個影片好想哭沒想到他雖然就走了，但我不認識他，祝福他好好走,希望他在天國開開心心      3
3                                  這麼好的人竟然去世      3
4                               一路好走！祝你來世幸福！      3

In [9]:
data = pd.concat([a,b,c], axis=0, ignore_index=True)

In [10]:
data = data.dropna(axis = 0, how = 'any')

In [11]:
data = data.rename(columns = {'label' : 'target'})

In [12]:
data['target'] -= 1

In [13]:
data

                                  text  target
0                    笑到翻掉  火災真的來了我會先笑死       0
1                 看到他滿足的表情，就知道這一切都值得👍🏻       0
2                     真的超有才，這個和無人機我快笑攤       0
3    火災真的來的話...比起嗆死或被燒死.... 我應該會先笑死www       0
4                   真的是充滿喜歡浪費才能的人才呢www       0
..                                 ...     ...
595                      其實我也覺得不太OK(摀臉       2
596                     我好像找到我沒有女友的原因了       2
597    房價好高買不起\n不知道等我四五十歲的時候能不能買一間都不知道       2
598         我平時可以講得更好 但是那天真的是有夠緊張的阿...       2
599                               太可惜了       2

[600 rows x 2 columns]

In [14]:
data['target'].value_counts()

2    201
0    200
1    199
Name: target, dtype: int64

In [17]:
data.to_csv("200_喜怒哀.csv",index=False)